body {
    overflow-y: hidden;
}

.App {
    background-image: url(../public/img/background.jpg);
    background-color: green;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

